beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
flask
idna
itsdangerous
jinja2
markupsafe
numpy
numpy
pandas
python-dateutil
pytz
requests
six
soupsieve
typing-extensions
tzdata
urllib3
werkzeug
