<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid_styles.css') }}">
    <!-- <style>
    </style> -->
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="image-grid">
            {% for image_path in image_paths %}
            <div class="image-item">
                <a href="/{{ image_path }}">
                    <img src="/{{ image_path }}" alt="Image">
                    <div class="image-overlay">
                        <span>{{ image_path }}</span>
                        <!-- <a href="{{ image_file }}" target="_blank" rel="noopener noreferrer">View</a> -->
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
