<!-- templates/_navbar.html -->
<nav>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('list_all_eagle_folder') }}">EAGLE Folders</a>
        <a href="{{ url_for('list_eagle_tags') }}">EAGLE Tags</a>
    </div>

    <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" placeholder="Search..." name="query">
            <button type="submit">Search</button>
        </form>
    </div>
</nav>
