<!-- templates/_navbar.html -->
<nav>
    <!-- 左側導航連結 -->
    <div class="nav-links">
        <a href="/">Home</a>
        <!-- <a href="/">Recommend</a> -->
        <a href="/EAGLE_tag/loli">EAGLE_Tags</a>
        <!-- <a href="/">漫畫作者</a> -->
        <!-- <a href="/">Collections</a> -->
        <!-- <a href="/">Models</a> -->
        <!-- <a href="/">Videos日韓</a> -->
        <a href="/test_arg">test_arg</a>
        <a href="/both">both</a>
        <a href="/grid">grid</a>
        <a href="/EAGLE_folders">EAGLE_folders</a>
        <a href="/debug">DEBUG_print</a>
    </div>

    <!-- 右側搜尋欄 -->
    <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" placeholder="Search..." name="query">
            <button type="submit">Search</button>
        </form>
    </div>
</nav>
