<!-- templates/index_eagle_folder.html -->
{% extends 'base_template.html' %}

{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar_styles.css') }}">
<!-- <style>
</style> -->
<script>
    function toggleFolder(event) {
        // function for sidebar
        const element = event.target;
        const sublist = element.nextElementSibling;
        if (sublist) {
            sublist.classList.toggle('active');
            element.classList.toggle('active');
        }
    }
</script>
{% endblock %}

{% block page_content %}
<div class="container">
    <h1>{{ title }}</h1>
    <div class="image-grid">
        {% for folder_name, folder_info in folder_thumbnails.items() %}
        <div class="image-item">
            <a href="/EAGLE_folder/{{ folder_info.id }}/">
                <img src="{{ folder_info.thumbnail }}" alt="{{ folder_name }}">
                <div class="image-overlay">
                    <span>{{ folder_name }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}