<!-- templates/index_eagle_folder_new.html -->
{% extends 'base_template.html' %}

{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar_styles.css') }}">
<script>
    function toggleFolder(event) {
        const element = event.target;
        const sublist = element.nextElementSibling;
        if (sublist) {
            sublist.classList.toggle('active');
            element.classList.toggle('active');
        }
    }
</script>
{% endblock %}

{% block page_content %}
<div class="container">
    <h1>{{ metadata.name }}</h1>
    <div class="image-grid">
        {% for folder in data %}
        <div class="image-item">
            <a href="{{ folder.path }}">
                <img src="{{ folder.thumbnail_route }}" alt="{{ folder.name }}">
                <div class="image-overlay">
                    <span>{{ folder.name }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}