<!-- templates/view_grid.html -->
{% extends 'base_template.html' %}

{% block custom_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid_styles.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">
    <h1>{{ title }}</h1>
    <div class="image-grid">
        {% for image_path in image_paths %}
        <div class="image-item">
            <a href="/{{ image_path }}">
                <img src="/{{ image_path }}" alt="Image">
                <div class="image-overlay">
                    <span>{{ image_path }}</span>
                    <!-- <a href="{{ image_file }}" target="_blank" rel="noopener noreferrer">View</a> -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}